header{
    width:100%;
    border:2px solid gray;
    display:flex;
    position:relative;
    background-color:dodgerblue;
    height:80px;
    text-align:center;
    font-size:larger;
    font-weight:bold;
    color:white;
    border-radius: 10px;

}
#s{
    border:0px;
}
h1{
    padding-left:30px;
}
header>div{
    border-right:2px solid white;
    height:50px;
    margin:20px;
    padding-left:20px;
    padding-right:20px;

}
#signout {
    position:absolute;
    right:0px;
    border:0px;
}
#pn{
    grid-area:pn;

}
#name{
    grid-area:name;
}
#uprice{
    grid-area:price;
}
#qstock {
    grid-area: stock;
}
#suplier {
    grid-area: supplier;

}
#dsupp {
    grid-area: dsup;
}
#no{
    grid-area:no;
}

.main-container {
    padding:40px;
    height:350px;
    display: grid;
    grid-template-areas:
        'pn  stock'
        'name supplier'
        'price dsup'
        'no buttons';
}
.main-container>div{
    width:420px;
    height:30px;
}
input, select {
    width: 150%;
    height: 30px;
}
#buttons{
    grid-area:buttons;
   padding-right:0px;
/*   border: 3px solid #404040;*/
   width: 100%;
   margin-right: 0px;
   display: flex;
   text-align: right;
}

#add{
   position:absolute;
    right:80px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    color:dodgerblue;
    border: 4px solid dodgerblue;
    font-size: 18px;

}

#cancel{
   position:absolute;
    right:225px;
    border: 4px solid orange;
     height: 50px;
     width: 80px;
     border-radius: 10px;
     color: orange;
     font-size: 18px;
}

#reset{
   position:absolute;
    right:340px;
     height: 50px;
     width: 80px;
     border-radius: 10px;
      border: 4px solid darkblue;
      color: darkblue;
      font-size: 18px;
}

/*#buttons>button {
    position:absolute;
    right:90px;
    border:0px;
}*/
