<!DOCTYPE html>
<html lang='en'>
<head>
<link rel='stylesheet' href='css/<%= Styler%>'>
<meta charset="utf-8">
<title>Current time</title>
</head>
<body>
This page was loaded at <%= time %>
</body>
</html>